@charset "utf-8";

/* Copied the css files from the theme such that I can variablise the colors for dark mode */

// Define variables used by the minima theme
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$header-height: 60px;

$spacing-unit:     30px;

$table-text-align: left;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$on-medium:        $on-palm;
$on-large:         $on-laptop;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// If your system settings say you prefer dark mode set up the use of dark mode as default
@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

// Import partials.
@import
  "themes",
  "dark-mode-toggle",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;